@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('https://images.unsplash.com/photo-1604964432806-254d07c11f32?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80') no-repeat center center/cover;
    position: absolute;
    top: -60;
    left: -60;
    width: calc(100vw + 120px);
    height: calc(100vw + 120px);
    object-fit: contain;
    z-index:-1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: blue;
}

